@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Coding Challenge 3
   
   Author: Jared Bears
   Date: 03/07/2024
   Filename: code7-3_valid.css

   Task 8: Open the code7-3_valid.css file and add the following style rules to the file:

   Display any input or select element that has the focus with a yellow background color.

   Display any input element with invalid data in a red font, surrounded by a red border, and red box shadows that are offset 0 pixels horizontally and vertically with a shadow blur of 5 pixels.

*/

input:focus, select:focus {
    background-color: yellow;
}

input:invalid {
    color: red;
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
}