@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 3
   
   Author:   Jared Bears
   Date:     03/07/2024
   Filename: code6-3_columns.css

*/

/*
   Task 3: Open the code6-3_columns.css file and create a style rule for the article element to display the contents in a 3 column layout with a minimum column width of 350 pixels, separate the columns with a 5 pixel border in the ridge style and using the color value rgb(231, 231, 231), and set the space between the columns to 20 pixels.
*/

article {
   column-count: 3;
   column-width: 350px;
   column-rule: 5px ridge rgb(231, 231, 231);
   column-gap: 20px;
}

/*
   Task 4: Create a style rule for the h1 element within the article element to span the heading across all columns, center the heading text, and set the font size to 3.5em with a letter spacing of 0.15em.
*/

article h1 {
   column-span: all;
   text-align: center;
   font-size: 3.5em;
   letter-spacing: 0.15em;
}

/*
   Task 5: Create a style rule for paragraphs within the article element to set the minimum size of widows and orphans to 4 lines.
*/

article p {
   orphans: 4;
   widows: 4;
}